# RapidAPI
RAPIDAPI_KEY=0e22bdfa13msh0e3e0fcbe1c11fdp128553jsn968d0eb71654
RAPIDAPI_HOST=instagram-scraper-20251.p.rapidapi.com

# Anthropic
ANTHROPIC_API_KEY=sua_chave_aqui

# Porta local (opcional)
PORT=3000
